.compare {
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    color: #fff;
  }

  &__list {
    @include page-grid;

    row-gap: 40px;
  }

  // products INSIDE compare list
  &__list > .product {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
}
