.header {
  background-image: url(/images/header-bg-mobile.png);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    color: #fff;

    @include on-tablet {
      font-size: 40px;
    }

    @include on-desktop {
      font-size: 80px;
      padding-top: 300px;
    }
  }

  &__bottom {
    padding-bottom: 40px;
  }

  @media (max-width: 480px) {
    height: 480px;
  }

  @include on-desktop {
    height: 100vh;
  }
}
