.main {
  background-color: $background-color;
  overflow: auto;

  &__content {
    display: grid;
    row-gap: 96px;
    padding-block: 96px;
    margin: 0;
    background-color: $background-color;

    @include consistent-padding-inline;

    @include on-tablet {
      row-gap: 120px;
      padding-block: 120px;
    }
  }
}

.reveal {
  opacity: 0;
  transform: translateY(16px);

  @include anim(opacity, transform);

  &--visible {
    opacity: 1;
    transform: translateY(0);
  }
}
